@tailwind base;
@tailwind components;
@tailwind utilities;



a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}


body {
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}